body {
  background-color : #dbe7ff;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}

.ui.inverted.top.fixed.menu{
    background-image : linear-gradient(135deg, rgb(9, 47, 168), rgb(114, 156, 242), rgb(177, 188, 242));

}

